---
import { Image } from "@astrojs/image/components";
import image from "@images/image.jpeg";
import BaseLayout from "@layouts/base.astro";
import { SocialIcon } from "react-social-icons";
---

<BaseLayout>
  <main class="flex items-center justify-center h-full font-raleway">
    <div class="flex flex-col-reverse md:flex-row gap-4 max-w-3xl">
      <div class="flex-1 px-8 space-y-4 text-center md:text-left">
        <div class="flex flex-col justify-center">
          <h2 class="text-2xl sm:text-3xl text-slate-600 tracking-wide">
            Hey there!
          </h2>
          <p class="text-sm sm:text-base leading-relaxed tracking-wide mt-4">
            My name is <span class="font-bold">Akshit Kr Nagpal</span> and I've been
            a self-taught Software Engineer for about a decade now. I started building
            websites when I was just <span class="italic">14</span> and I've always
            been really passionate about full-stack development. I'm known for my
            ability to deliver high-quality code at a fast pace and I'm also an open
            source hobbyist. If you're looking for someone who is driven, skilled,
            and always looking to learn and improve,
            <span class="italic">I'm your guy!</span>
          </p>
        </div>
        <div class="space-x-4">
          <SocialIcon
            bgColor="transparent"
            fgColor="black"
            target="_blank"
            url="https://www.linkedin.com/in/akshitkrnagpal"
          />
          <SocialIcon
            bgColor="transparent"
            fgColor="black"
            target="_blank"
            url="https://www.github.com/akshitkrnagpal"
          />
          <SocialIcon
            bgColor="transparent"
            fgColor="black"
            target="_blank"
            url="https://www.twitter.com/akshitkrnagpal"
          />
        </div>
      </div>
      <div class="flex-1 px-8">
        <figure class="flex flex-col">
          <Image
            class="rounded-full md:rounded-md aspect-square md:aspect-auto object-cover"
            src={image}
            width={840}
            height={936}
            aspectRatio={1}
            alt="Akshit Kr Nagpal"
            loading="eager"
          />
          <figcaption
            class="hidden md:block text-slate-500 text-center text-sm py-1"
          >
            Akshit Kr Nagpal
          </figcaption>
        </figure>
      </div>
    </div>
  </main>
</BaseLayout>
