---
import "@fontsource/raleway/100.css";
import "@fontsource/raleway/500.css";
import "@styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Akshit Kr Nagpal | Software Engineer</title>
    <meta name="description" content="Software Engineer Developer" />
  </head>
  <body>
    <slot />
  </body>
</html>
