---
import "@fontsource/raleway/100.css";
import "@fontsource/raleway/500.css";
import "@styles/globals.css";
import { getImage } from "@astrojs/image";
import image from "@images/image.webp";
const { src } = await getImage({ src: image });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Akshit Kr Nagpal | Software Engineer</title>
    <meta name="description" content="Software Engineer Developer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@akshitkrnagpal" />
    <meta name="twitter:creator" content="@akshitkrnagpal" />
    <meta name="twitter:title" content="Akshit Kr Nagpal | Software Engineer" />
    <meta
      name="twitter:description"
      content="A self-taught Software Engineer who started building websites at the age of 14 (nearly a decade ago). With a passion for full-stack development and a history of delivering high-quality code at high velocity. Open source hobbyist."
    />
    <meta name="twitter:image" content={src} />
    <script
      id="cookieyes"
      type="text/partytown"
      src="https://cdn-cookieyes.com/client_data/04a83b25bb08eac7da8048df/script.js"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
