---
import "@fontsource/raleway/100.css";
import "@fontsource/raleway/500.css";
import "@styles/globals.css";
import { SEO } from "astro-seo";
import { getImage } from "@astrojs/image";
import image from "@images/image.webp";
const { src } = await getImage({ src: image });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Akshit Kr Nagpal | Software Engineer"
      description="A self-taught Software Engineer who started building websites at the age of 14 (nearly a decade ago). With a passion for full-stack development and a history of delivering high-quality code at high velocity. Open source hobbyist."
      canonical="https://www.akshitkrnagpal.com"
      openGraph={{
        basic: {
          title: "Akshit Kr Nagpal | Software Engineer",
          type: "website",
          image: `https://www.akshitkrnagpal.com${src}`,
          url: "https://www.akshitkrnagpal.com",
        },
      }}
      extend={{
        meta: [
          { name: "twitter:site", content: "@akshitkrnagpal" },
          { name: "twitter:creator", content: "@akshitkrnagpal" },
        ],
      }}
    />
    <script
      id="cookieyes"
      type="text/partytown"
      src="https://cdn-cookieyes.com/client_data/04a83b25bb08eac7da8048df/script.js"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
