#social-links > ul {
    padding-left: 20%;
    padding-right: 20%;
}
#social-links > ul > li {
    display: inline-block;
    width: 20%;
}
#social-links > ul > li > a > .img-container {
    width:  32px;
    height: 32px;
}
#social-links > ul > li > a > .img-container > img {
    width:  28px;
    height: 28px;
    margin: 2px;
}
#social-links > ul > li > a > .img-container > img:hover {
    width:  32px;
    height: 32px;
    margin: 0;
}