html,body {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    align-content: center;
    font-family: 'cyntho_slab_proregular', sans-serif;
}
a.grey {
    text-decoration: none;
}
a.grey:hover {
    text-decoration: underline;
}
.grey {
    color: #767676;
}
.no-decor {
    text-decoration: none;
}
