html,body {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    align-content: center;
    font-family: 'cyntho_slab_proregular', sans-serif;
}
.container {
    width: 100%;
    margin: auto;
    padding: 5px;
}
.row {
    text-align: center;
}
.btn {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
}
.btn:hover {
    background: whitesmoke;
}
a.grey {
    text-decoration: none;
}
a.grey:hover {
    text-decoration: underline;
}
.grey {
    color: grey;
}
.no-decor {
    text-decoration: none;
}
@media (min-width: 426px) {
    .container {
        max-width: 426px;
    }
}
@media (min-width: 1415px) {
    .container {
        width:30%;
    }
}