@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-sans;
}

body > #___gatsby {
    @apply bg-white;
}

.container {
    @apply min-h-screen p-1 flex items-center justify-center mx-auto;
}

.row {
    @apply my-4 flex justify-center;
}

.profile-image {
    @apply mx-auto my-0 rounded-full;
}

@screen sm {
    .profile-card {
        @apply max-w-sm;
    }
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.dark-mode img {
    filter: invert(1) hue-rotate(180deg);
}
