html,
body {
    overflow: hidden;
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: inherit;
}

.grey {
    color: #767676;
}

.container {
    height: 100vh;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 426px) {
    .profile-card {
        max-width: 426px;
    }
}
@media (min-width: 1415px) {
    .profile-card {
        width: 30%;
    }
}

.row {
    text-align: center;
    margin: 1rem 0;
}

.profile-image {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid;
}

.spaced {
    margin: 0 5px;
}
